VITE_BOT_URL=

BOT_PORT=

TWITCH_USERNAME=
OAUTH_TOKEN=
CHANNEL_NAME=
DISCORD_CHANNEL=
PERIODIC_DELAY=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/auth/twitch/callback

RPG_INTERVAL=10
POINTS_PER_TICK=5